{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-with-button-logo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/main.css'  %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/rec.css'  %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'assets/css/contact.css'  %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
    integrity="sha384- 
    fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/Test.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugin.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Document</title>
</head>

<body class="m-0">

    <!-- navbar to be replaced by the one in layout.html -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/home"><img src="{% static 'assets/img/logo/logo.png' %}" alt="LOGO" style="max-width: 130px; max-height: 130px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                            <a class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-item nav-link" href="/rec">Recommendations</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-item nav-link" href="/results">temp result</a>  
                    </li>
                </ul>
                <ul class="navbar-nav" style="margin-right: 2em;">
                    {% if user.is_authenticated %}
                    <li class="nav-item active"><a class="nav-item nav-link" href="{% url 'logout' %}"> Logout </a></li>
                    {% else %}
                    <li><a class="nav-item nav-link" href="{% url 'register' %}"> Register </a></li>
                    <li><a class="nav-item nav-link" href="{% url 'login' %}"> Login </a></li>
              {% endif %}
              
                </ul>
                    
            </div>
        </nav>


    {% block content %}{% endblock %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
    <script type="module" src="{% static 'assets/js/main.js' %}"></script>
    <script type="module" src="{% static 'assets/js/jquery.js' %}"></script>
    <!-- <script type="module" src="{% static 'assets/js/popper.min.js' %}"></script>
    <script type="module" src="{% static 'assets/js/bootstrap.min.js' %}"></script> -->
 
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>


</body>

<footer id="myFooter" class="bg-dark text-light p-0">
    <div class="container-fluid">
        <div class="row " style="margin-bottom: 0vw">
            <div class="col-3">
                <h2 class="logo"><a href="#"> <img src="{% static 'assets/img/logo/logo.png' %}"  alt="LOGO" style="max-width: 200px; max-height: 200px; margin-top: .5em;"> </a></h2>
            </div>
            <div class="col-2">
                <h5>Get started</h5>
                <ul>
                    <li><a class="fa-1x " href="/home">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Info.</a></li>
                    <li><a href="{% url 'contactus' %}">Contact us</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default text-light bg-info" href="#" >Contact us</button>
            </div>
        </div>
    </div>
    
  </footer>
  <div class="footer-copyright bg-dark">
      <p class="text-light text-center">© 2019 Copyright Text </p>
  </div>
  
</html>
