{% extends "base.html" %}
{% block content %}
{% load static %}

    <section class="image-bg lis-grediant grediant-tb">
            <div class="background-image-maker"></div>
            <div class="holder-image"> <img src="{% static 'assets/img/Travel.png' %}" alt="" class="img-fluid d-none"> </div>
            <div class="container">
                <div class="row justify-content-center pt-5">
                    <div class="col-12 col-md-10 text-center wow fadeInUp">
                        <div class="heading pb-5">
                            <h1 class="display-4">The Route</h1>
                            <h4 class="font-weight-normal mb-0">Explore the pleasure of cheap travelling</h4> 
                            <h4 class="font-weight-normal mb-0">Hard to believe? Try it out now and check the prices</h4> 
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="lis-grediant grediant-tb-white">
            <div class=" container">
                <div class="col-12 text-center justify-content-center">
                    <div class="heading pb-5">
                            <h1 class="">Search for best flights! <i class="fas fa-plane"></i></h1>
                    </div>
            <form class=" form-inline" name="Submission" style="margin-left: 10em;" method="post">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-5">
                            <label style="margin-top: 0px;">Leaving From</label><input  type="text" class="form-control" name="team_name" placeholder="Starting City" required>
                            <label>Date</label> <input type="date" class = "form-control" name="leader_name" placeholder="" required> 
                        </div>
                        <div class="col-5">
                            <label style="margin-top: 0px;">No. of Adults</label><input type="number" min="0" required class="form-control" placeholder="(16+)">
                            <label>No. of Children</label><input type="number" min="0" required class="form-control" placeholder="0-15">
                        </div>
                    </div> 
              
                        <div class="row">
                                <div class="col-5">
                                    <label>City</label><input type="text" class = "form-control" name="1st_City" placeholder="" required>
                                </div>
                                <div class="col-5">
                                    <label>Duration</label><input type="number" class = "form-control" placeholder="In days" name="1st_Duration" required>
                                </div>
                            </div>
               

               <div class ="d-none" name="Label1">
                        <div class="row">
                                <div class="col-5">
                                    <label>City</label><input type="text" class = "form-control" name="1_member_name" placeholder="" required>
                                </div>
                                <div class="col-5">
                                    <label>Duration</label><input type="number" placeholder="In days" class = "form-control" title="" name="1_member_phone" required>
                                </div>
                                <div class="col-2">
                                      <button type="button" class="btn btn-circle myBtn" name="hide1" onclick="hide(this)">
                                       <i class="fas fa-times"></i>
                                      </button>
                                </div> 
                        </div>   
                     
               </div>
               
               <div class ="d-none" name="Label2">
                        <div class="row">
                                <div class="col-5">
                                    <label>City</label><input type="text" class = "form-control" name="1_member_name" placeholder="">
                                </div>
                                <div class="col-5">
                                    <label>Duration</label><input type="number" placeholder="In days" class = "form-control" title="" name="1_member_phone">
                                </div>
                                <div class="col-2">
                                      <button type="button" class="btn  btn-circle" name="hide2" onclick="hide(this)">
                                       <i class="fas fa-times"></i>
                                      </button>
                                </div>
                        </div>
               </div>
               
               <div class ="d-none" name="Label3">
                        <div class="row">
                                <div class="col-5">
                                    <label>City</label><input type="text" class = "form-control" name="1_member_name" placeholder="">
                                </div>
                                <div class="col-5">
                                    <label>Duration</label><input type="number" placeholder="In days" class = "form-control" title="" name="1_member_phone">
                                </div>
                                <div class="col-2">
                                      <button type="button" class="btn  btn-circle" name="hide3" onclick="hide(this)">
                                       <i class="fas fa-times"></i>
                                      </button>
                                </div>
                               </div>
               </div>
               
               <div class ="d-none" name="Label4">
                    <div class="row">
                    <div class="col-5">
                        <label>City</label><input type="text" class = "form-control" name="1_member_name" placeholder="">
                    </div>
                    <div class="col-5">
                        <label>Duration</label><input type="number" placeholder="In days" class = "form-control" title="" name="1_member_phone">
                    </div>
                        <div class="col-2">
                                      <button type="button" class="btn  btn-circle" name="hide4" onclick="hide(this)">
                                       <i class="fas fa-times"></i>
                                      </button>
                        </div>
                   </div>
               </div>
               
               <div class ="d-none" name="Label5">
                        <div class="row">
                                <div class="col-5">
                                    <label>City</label><input type="text" class = "form-control" name="1_member_name" placeholder="">
                                </div>
                                <div class="col-5">
                                    <label>Duration</label><input type="number" placeholder="In days" class = "form-control" title="" name="1_member_phone">
                                </div>
                                <div class="col-2">
                                      <button type="button" class="btn  btn-circle" name="hide5" onclick="hide(this)">
                                       <i class="fas fa-times"></i>
                                      </button>
                                </div>
                               </div>   
               </div>

               
   

             <div class="row">
                <div class="col-5">
                  <button type="button" class="btn btn-success btn-lg btn-default text-light bg-info" id="add" onclick="show()">
                   <i class="fas fa-plus"></i>  Add City
               </button> 
                </div>
                   <div class="col-5">
                <button type="submit" class = "btn btn-success btn-lg" name="group_register">
                   <i class="fas fa-search"></i>  Search
               </button>
              </div> 
               </div>
              
               
            </div>  
           </form>  
       </div>
        </div>
        
        </section>
        

        <!--End Page Inner -->
        <!-- Categories -->
        <section class="lis-grediant grediant-tb-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <div class="heading pb-4">
                            <h2 class="f-weight-500">Discover Trips best for you.</h2> </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-0">
                <div class="fullwidth-carousel-container center2 slider">
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/slide1.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                            </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Restaurant</h6> <span class="lis-font-roboto">13 listing</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/slide2.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                            </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Bar & Club</h6> <span class="lis-font-roboto">15 listing</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/bg1.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                            </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Tour & Travels</h6> <span class="lis-font-roboto">10 listing</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/slide3.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                                </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Entertainment</h6> <span class="lis-font-roboto">18 listing</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/slide4.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                            </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Hotel</h6> <span class="lis-font-roboto">13 listing</span> </div>
                        </div>
                    </div>
                    <div>
                        <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                            <a href="#">
                                <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{% static 'assets/img/slide5.jpg' %}" alt="" class="img-fluid rounded" /> </div>
                            </a>
                            <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                                <h6 class="text-white mb-0">Medical</h6> <span class="lis-font-roboto">18 listing</span> </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-12 text-center"> <a href="#" class="btn btn-success btn-default">View More Recommended trips</a> </div>
                </div>
            </div>
        </section>
 
 {% load static %}
 <script src = "{% static 'assets/js/team.js' %}"></script>
 <script src = "{% static 'assets/js/plugins.js' %}"></script>
 <script src = "{% static 'assets/js/common.js' %}"></script>

{% endblock content %}
